version: '3.9'
services:
  api:
    build: .
    env_file:
      - .env.development
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - minio
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./:/app
  api-prod:
    build: .
    env_file:
      - .env.production
    depends_on:
      - postgres
      - redis
      - minio
    command: gunicorn app.main:app -k uvicorn.workers.UvicornWorker -w 4 -b 0.0.0.0:8010
    ports:
      - "8010:8010"
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: kanonix
      POSTGRES_PASSWORD: kanonix
      POSTGRES_DB: kanonix_dev
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio:/data
volumes:
  pgdata:
  minio:
